.center {
  text-align: center;
}

.megdev
 {
margin-left: 10px;
width: 400px;

}
.god {
width: 500px;
}

.derecha {
 margin-left: auto;


}
.shit {
  max-width: 40px;
}
.content{
  margin-left: 10px;
  display: flex;

}
