.center {
  text-align: center;
}

.megdev
 {
margin-left: 10px;
width: 400px;

}
.god {
width: 500px;
}

.derecha {
 margin-left: auto;


}
section {
  margin-right: 10px;
  display: flex;
  width: 100%;



}

.CPI {
  flex-grow: 1;
}
